.container__contact h1{
    text-align: center;
    font-size: 4rem;
}
form{
    
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    color: #000;
    border-bottom: 1px solid #000;
    resize: none;
}